<h1>Sign In</h1>

<form action="/admin" method="POST">
    <input type="text" placeholder="Enter Username" name="username">
    <input type="password" placeholder="Enter Password" name="password">
    <input class = "btn" type="submit" value="Login" name="login">
</form>

