<div class="author">
    <h1 class="author__heading">Hi, I am MJ Vishvanth and this is my Diary</h1>
    <p class="author__description">Web Developer and Content creator</p>
</div>

<section class="articles">
    <h2 class="articles__heading">Latest Post</h2>
    <ul class="article-ul">
        <% data.forEach(element =>{ %>
        <li>
        <a href="/post/<%= element._id %>">
            <span><%= element.title %></span>
            <span class="article-list__date"><%= element.createdAt.toDateString() %></span>
        </a>
        </li>
    <% }) %>
    </ul>
    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
      <% } %>
</section>